extends layout.pug

block content
  div(class="jumbotron well")
    p
      h3 比赛列表

//- TODO: 整理文件结构，提供更清晰的分界
block content2
  div(class="pull-left")
    ul(class="pagination")
      li
        a(href="#") &laquo;
      - for(var i = 1;i<=5;i++)
        li
          a(href="#") #{i}
      li
        a(href="#") &raquo;
  div(class="pull-right",id="bs-example-navbar-collapse-1")
    form(class="navbar-form navbar-left",role="search")
      div(class="form-group")
        input(type="text",class="form-control")
      button(type="submit",class="btn btn-default") 搜索比赛
  table(class = "table")
    thead
      tr
        th 序号
        th 比赛名
        th 开始时间
        th 结束时间
        th 类型
        th 状态
    tbody
      - for(var i=1;i<=7;i++)
        tr(class = "active")
          td 00#{i}
          th
            a(href="./contest.html") icpc#{i}
          th 0000.00
          th 0000.00
          th type#{i}
          th status#{i}
