extends layout.pug

block content
  div(class="jumbotron well")
    h3 Hello ACMer
    p This a YY contest And I'm sure you can AK it!!!
    div(class = "page=header")
      h1 Register
      p
        a(
          class="btn" id="modal-361597"
          role = "#modal-container-361597"
          data-toggle="modal"
        ) Register
        div(
          class = "modal fade"
          id = "modal-container-361597"
          role = "dialog"
          aria-hidden="true"
          aria-labelledby="myModalLabel"
          )
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(
                  class="close"
                  aria-hidden="true"
                  type="button"
                  data-dismiss="modal"
                ) x
                h4(class="modal-title" id="myModalLabel") 报名
              div(class = "modal-body")
              div(class="modal-footer")
                button(
                  class="btn btn-default"
                  type="button"
                  data-dismiss="modal"
                ) ddddd
                button( class="btn btn-primary" type="button") eeeee
  ul
    li aaaaa
    li bbbbb
    li ccccc
    li ddddd
    li eeeee
    li fffff
  p
    | sajdksadjskaljdsakldjskla
    | ajsalkd;sakd;sladl;skd
    | asdsadsaljaklfjaklfhkalsdjsak
    | asdjsal;djafhlakdklasjdlnafckldanvkdlf
    | sdjsalkdjsadjs;ajdl;ajdsapodjls;amdnsaldjsal
