extends layout.pug

block content
  div(class="jumbotron well")
    p
      //-此处还需要改进
      h3 ACM-ICPC World Final NWPU
  ul(class="nav nav-tabs")
    li(class="disabled")
      a(href="#") Problem
    li(class="disabled")
      a(href="#") Rank
    li(class="active")
      a(href="#") Process
    li(class="disabled")
      a(href="disabled") Discuss/Ask
  table(class="table")
    thead
      tr
        th judgeID
        th ProblemID
        th Result
        th team
        th usedtime(ms)
        th memory(kb)
        th handtime
    tbody

      //-这个地方的具体颜色还需要调整
      - for(var i=0;i<2;i++)
        tr(class="success")
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td Accepted
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11

      - for(var i=2;i<4;i++)
        tr(class="danger")
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td Wrong Answer
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11
      - for(var i=4;i<6;i++)
        tr(class="info")
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td pending
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11
      - for(var i=6;i<8;i++)
        tr(class="warning")
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td TimeLimitExceed
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11
      - for(var i=8;i<10;i++)
        tr(class="active")
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td Runtime Error
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11
      - for(var i=10;i<12;i++)
        tr
          td 0000#{i}
          td
            a(href="#") 00#{i}
          td MemoryLimitExceed
          td make_a_big_news
          td 22
          td 1000
          td 2016.11.11.11.11

block content2
  div(class="pull-left")
  ul(class="pagination")
    li
      a(href="#") &laquo;
    -for(var i = 1;i<=5;i++)
      li
        a(href="#") #{i}
    li
      a(href="#") ...
    li
      a(href="#") 10
    li
      a(href="#") &raquo;
